<div class="upme-logo-container">
</div>

<div id="registration-step-1" class="display-none center-align">
  <h1 class="huge-title center-align">Vamos começar seu cadastro.</h1>
  <h4 class="upme-sub-title center-align">Só precisamos de 4 informações.</h4>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: 'registration-form'}) do |f| %>
  <div class="container" id="registration-step-2" class="display-none">
      
    <div class="row">
      <div class="col s12 m8 offset-m2 center-align">
        <h1 class="huge-title center-align">Quem é você?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m8 offset-m2 m-no-padding">
        <div class="paper-box" style="position: relative;">
            <div class="row">
                
                <div class="registration-progress">
                  <div class="col s4">
                    <div class="top-step active"></div>
                  </div>
                  <div class="col s4">
                    <div class="top-step"></div>
                  </div>
                  <div class="col s4">
                    <div class="top-step"></div>
                  </div>
                </div>
                <div class="col s12">
                  <div class="label-upme">Selecione a opção apropriada
                    <br>
                  </div>
                </div>
                <br>
                <div class="col s4 m4">
                  <%= f.radio_button :user_type, 'aluno', class: 'pretty-image-checkbox', required: true, id: 'radio-aluno' %>
                  <label for="radio-aluno">
                    <img src="https://i.imgur.com/hMY7GNR.png" alt="" class="pretty-checkbox-image">
                    <span class="pretty-checkbox-name">Sou aluno(a)</span>
                  </label>
                </div>
                <div class="col s4 m4">
                  <%= f.radio_button :user_type, 'professor', class: 'pretty-image-checkbox', required: true, id: 'radio-prof' %>
                  <label for="radio-prof">
                      <img src="https://i.imgur.com/yabrxOy.png" alt="" class="pretty-checkbox-image">
                      <span class="pretty-checkbox-name">Sou professor(a)</span>
                  </label>
                </div>
                <div class="col s4 m4">
                  <%= f.radio_button :user_type, 'empresa', class: 'pretty-image-checkbox', required: true, id: 'radio-empresa' %>
                  <label for="radio-empresa">
                      <img src="https://i.imgur.com/vqqoE0D.png" alt="" class="pretty-checkbox-image">
                      <span class="pretty-checkbox-name">Empresa/ONG</span>
                  </label>
                </div>
              </div>
              <br>
              <br>

          <div>
            <div class="row">
              <div class="col s12" id="col-primeiro-nome">
                <div class="input-field">
                  <%= f.label :first_name, 'Primeiro Nome', class: 'label-upme' %>
                  <br>
                  <%= f.text_field :first_name, class: 'big-font-form validate',placeholder: 'Primeiro nome', minlength: 2, maxlength: 100, required: true, id: :registration_first_name %>
                </div>
              </div>
              <div class="col s12" id="col-sobreonme">
                <div class="input-field">
                  <%= f.label :last_name, 'Sobrenome', class: 'label-upme'%>
                  <br>
                  <%= f.text_field :last_name, class: 'big-font-form validate',placeholder: 'Sobrenome', minlength: 2, maxlength: 100, required: true, id: :registration_last_name%>
                </div>
              </div>
              <div class="col s12">
                <div class="input-field" id="col-nome-da-empresa">
                  <%= f.label :nome_empresa, 'Nome da empresa', class: 'label-upme'%>
                  <br>
                  <%= f.text_field :nome_empresa, class: 'big-font-form validate',placeholder: 'Nome da empresa', id: :registration_nome_empresa%>
                </div>
              </div>
            </div>
          </div>

          <%= devise_error_messages! %>
          <br>

          <%- unless resource.errors.size > 0 %>
            <div class="row">
              <div class="col s6">
                <%= link_to entrar_path do %>
                    <%= button_tag 'Cancelar', class: 'waves-effect waves-dark btn-full-width btn-upme-outline-grey', type: :button %>
                <% end %>
              </div>
              <div class="col s6">
                <button type="button" id="btn-continue-registration-step-2" class="waves-effect waves-light btn-full-width btn-upme-blue">
                  Continuar
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="registration-step-3" class="display-none">
      
    <div class="row">
      <div class="col s12 m8 offset-m2 center-align">
        <h1 class="huge-title center-align">Cadastre um e-mail e senha</h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m8 offset-m2 m-no-padding">
      <div class="paper-box" style="position: relative;">
        <div class="row">

          <div class="registration-progress">
                  <div class="col s4">
                    <div class="top-step active"></div>
                  </div>
                  <div class="col s4">
                    <div class="top-step active"></div>
                  </div>
                  <div class="col s4">
                    <div class="top-step"></div>
                  </div>
                </div>
        </div>

        <div class="input-field">
          <%= f.label :email, 'Escreva seu e-mail', class: 'label-upme' %>
          <br />
          <%- if @invite %>
            <%= email_field_tag :invite_email, @invite.to_email, disabled: true, class: 'big-font-form', placeholder: 'Seu melhor e-mail' %>
            <%= hidden_field_tag :invite_token, @invite.token %>
          <%- else %>
            <%= f.email_field :email, required: true, class: 'big-font-form', placeholder: 'Seu melhor e-mail' %>
          <%- end %>
          <%= form_error(resource.errors.messages[:email]) %>
        </div>

        <div class="input-field">
          <%= f.label :password, 'Escolha sua senha', class: 'label-upme' %>
          <br>
          <%= f.password_field :password, autocomplete: "off", required: true, class: 'big-font-form', placeholder: 'Uma senha forte', pattern: ".{6,20}", title: "Entre 6 e 20 caracteres" %>
          <%= form_error(resource.errors.messages[:password]) %>
        </div>
<br>
        <p>
          <input type="checkbox" id="terms" required />
          <label for="terms">
            Li e aceito os
            <a href="/termos" target="_blank">termos de uso</a>
          </label>
        </p>
<br>
        <div class="row">
          <div class="col s6">
            <%- unless resource.errors.size > 0 %>
              <button type="button" id="btn-back-registration-step-3" class="btn-full-width btn-upme btn-upme-gray">
                Voltar
              </button>
            <% end %>
          </div>
          <div class="col s6">
              <button type="submit" id="btn-continue-registration-step-3" class="btn-full-width btn-upme btn-upme-blue">
                  Finalizar
                </button>
          </div>
        </div>
        
      </div>
    </div>
    </div>
  </div>
<% end %>



