<div class="upme-logo-container">
</div>

<div id="registration-step-1" class="display-none">
  <h1>Vamos começar seu cadastro.</h1>
  <h4>Só precisamos de 4 informações.</h4>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div id="registration-step-2" class="display-none">
    <h1>Qual seu nome e o que você faz?</h1>

    <div class="container upme-form-container">
      <div class="input-field">
        <%= f.label :first_name, 'Nome', class: 'u-label-big' %>
        <br>
        <%= f.text_field :first_name, class: 'validate' %>
      </div>
      <div class="input-field">
        <%= f.label :last_name, 'Sobrenome', class: 'u-label-big' %>
        <br>
        <%= f.text_field :last_name, class: 'validate' %>
      </div>
      <table>
        <tr>
          <td>
            <input id="radio-aluno" name="group1" type="radio" value="aluno"/>
            <label for="radio-aluno" >Sou Aluno</label>
          </td>
          <td>
            <input id="radio-prof" name="group1" type="radio" value="professor"/>
            <label for="radio-prof">Sou Professor</label>
          </td>
          <td>
            <input id="radio-empresa" name="group1" type="radio" value="empresa"/>
            <label for="radio-empresa">Sou Empreendedor</label>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td width="50%">
            <%= link_to user_session_path do %>
              <%= button_tag 'Cancelar', class: 'btn-full-width btn-upme btn-upme-gray', type: :button %>
            <% end %>
          </td>
          <td>
            <button type="button" id="btn-continue-registration-step-2" class="btn-full-width btn-upme btn-upme-blue">
              Continuar
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div id="registration-step-3" class="display-none">
    <h1>Cadastre seu e-mail e senha</h1>

    <div class="container upme-form-container">
      <%= devise_error_messages! %>

      <div class="input-field">
        <%= f.label :email, 'Escreva seu e-mail', class: 'u-label-big' %>
        <br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="input-field">
        <%= f.label :password, 'Uma senha forte para acessar a plataforma', class: 'u-label-big' %>
        <br>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <table>
        <tr>
          <td width="50%">
            <button type="button" id="btn-back-registration-step-3" class="btn-full-width btn-upme btn-upme-gray">
              Voltar
            </button>
          </td>
          <td>
            <button type="submit" id="btn-continue-registration-step-3" class="btn-full-width btn-upme btn-upme-blue">
              Finalizar
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>



