%nav.navbar.navbar-expand-lg.navbar-light.up-navbar
  .container
    %a.navbar-brand{:href => "#"}
      = image_tag 'app/logo-upme-vetor.svg'

    %a.btn.btn-primary.ml-auto.btn-small.d-block.d-sm-none{:href => "/registrar"} Cadastre-se
    
    %a.btn.menu-toggle.ex#mobile-menu-toggle.d-block.d-sm-none
      %span.bar.upper
      %span.bar.middle
      %span.bar.lower
    
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link.btn-default{href: "/precos" } Preços
        %li.nav-item
          %a.nav-link.btn-default{href: "/blog", target: '_blank'} Blog
        %li.nav-item
          %a.nav-link.btn-default{href: "/entrar"} Login
        %li.nav-item.form-inline
          %a.btn.btn-primary{:href => "/registrar"} Cadastre-se
.container
  %br
  %br
  .row
    .col.text-center
      %h1.huge-title.text-center Preços
      %br
      %p.lead A plataforma é 100% gratuita. Cadastre-se agora mesmo.
      .lead Empresas só pagam quando acontece um match.
      %p.lead Alunos só pagam pela emissão do certificado, que é opicional.
      %br
  .row
    .col-12.col-md-4.text-center
      .paper-box{style:"height: 620px"}
        = image_tag 'landing/alunos-precos.png'
        %h2.price-type.text-center Alunos
        %sup R$
        %span.the-price 15,00
        %p.lead por certificado (Opcional)
        %hr.price-line
        %ul.price-benefits
          %li Até 72h de atividades complementares.
          %li Portfólio e currículo turbinados.
          %li Conexão com o mercado de trabalho.
          %li Experiências com clientes reais.
          %li Aumento de suas competências e skills.
        %br
        %a.btn.btn-primary{:href => "/registrar"} Cadastre-se
    .col-12.col-md-4.text-center
      .paper-box{style:"height: 640px"}
        = image_tag 'landing/empresas-precos.png'
        %h2.price-type.text-center Empresas
        %sup R$
        %span.the-price 500,00
        %br
        %p.lead por match/projeto(parcela única)
        %hr.price-line
        %ul.price-benefits
          %li Projeto pensado no seu negócio.
          %li Consultoria de universitários.
          %li Trabalhos coordenados por professores Mestres ou PhD`s.
          %li Qualidade que cabe no bolso.
          %li Planejamento detalhado da execução.
          %li Controle dos prazos e entrega.
        %br
        %a.btn.btn-primary{:href => "/registrar"} Cadastre-se
    .col-12.col-md-4.text-center
      .paper-box
        = image_tag 'landing/universidade-precos.png'
        %h2.price-type.text-center Universidades
        %span.the-price{style:"font-size:32px"} Entre em contato
        %p.lead contato@upmeapp.com.br
        %hr.price-line
        %ul.price-benefits
          %li Acesso à demandas das empresas e ONGs.
          %li Banco de projetos para Extensão Universitária.
          %li Mais Produção Técnica no Lattes dos seus professores.
          %li Experiência e portfólio para alunos com trabalhos de disciplina.
          %li Emissão de certificados de atividades complementares.
          %li Destaque de Qualidade para professores.
  .row
    .col-12.col-md-5
      %br
      %br
      = image_tag 'landing/parceiro.png'
      %h1.huge-title Seja nosso parceiro
      %br
      %p
        Oferecemos vantagens para coworkings, aceleradoras e incubadoras, com desconto especial no valor da taxa de operação pelo match para espaços colaborativos parceiros. Entregue mais esse benefício para suas empresas residentes fazendo parte dos nossos PERKS. Entre em contato para saber mais:
        %strong contato@upmeapp.com.br

%footer.footer.text-center
  = image_tag 'landing/logo-footer.png'
