!!!
%html
  %head
    %title= current_account.name

    %meta{property: 'og:url',         content: 'https://upmeapp.com.br'}
    %meta{property: 'og:type',        content: 'https://upmeapp.com.br'}
    %meta{property: 'og:title',       content: 'https://upmeapp.com.br'}
    %meta{property: 'og:description', content: 'https://upmeapp.com.br'}
    %meta{property: 'og:image',       content: page_image }

    %link{href: 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,900i', rel: 'stylesheet'}

    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    = stylesheet_link_tag    'default/application.css', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'default/shared/navigation'
    = yield
