<div class="upme-logo-container">
</div>
<h1 class="center-align huge-title">Criar nova senha</h1>
<br/>
<br/>
<%= render 'layouts/upme_flash' %>
<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
      <div class="paper-box">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div class="input-field">
              <%= f.label :password, "Nova senha", class: 'label-upme' %>
              <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
            </div>

            <div class="input-field">
              <%= f.label :password_confirmation, "Confirmar nova senha", class: 'label-upme' %>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <button type="submit" class="waves-effect waves-light btn-upme-blue btn-full-width">Salvar nova senha</button>
        <% end %>
      </div>
      <div class="row">
        <div class="col s6">
          <br>
          <%= link_to 'Voltar', entrar_path, class: 'waves-effect waves-light-blue btn-upme-outline-blue btn-small' %>
        </div>
        <div class="col s6 right-align">
          <br>
          <%= link_to 'Faça seu cadastro', registrar_path, data: { turbolinks: false }, class: 'waves-effect waves-dark btn-upme-outline-grey btn-small' %>
        </div>
      </div>
    </div>
  </div>
</div>