<% - @title = "Recuperar senha" %>

<div class="upme-logo-container">
</div>
  <h1 class="text-center title">Recuperar senha</h1>
<br/>
<br/>
<%= render 'layouts/upme_flash' %>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-3"></div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <div class="input-field">
              <%= f.label :email, 'Seu e-mail', class: 'label' %>
              <%= f.email_field :email, class: 'validate form-control', placeholder: 'Digite seu e-mail aqui' %>
            </div>
            <button type="submit" class="btn btn-primary btn-full-width">Recuperar senha</button>
        <% end %>
        <%=
          #render "devise/shared/links"
        %>
      </div>
    </div>
        <div class="row">
          <div class="col-6">
            <br>
            <%= link_to 'Voltar', entrar_path, class: 'btn btn-default' %>
          </div>
          <div class="col-6 ml-auto">
            <br>
            <%= link_to 'Faça seu cadastro', registrar_path, data: { turbolinks: false }, class: 'btn btn-default float-right' %>
          </div>
        </div>
  </div>
  
  </div>
</div>