= form_for @project do |f|
  .container
    .row
      .col.s12.m2
      .col.s12.m8
        .upme-form-container
          .input-field
            = f.label :title, 'Título do Projeto', class: 'u-label-big'
            %br
            = f.text_field :title, class: 'validate'
          .input-field
            = f.label :objective, 'Objetivos do Projeto', class: 'u-label-big'
            %br
            = f.text_area :objective, class: 'materialize-textarea', data: { length: 350 }
          .input-field
            = f.label :description, 'Mais Informações', class: 'u-label-big'
            %br
            = f.text_area :description, class: 'materialize-textarea', data: { length: 350 }
          %div
            = f.label :natureza, 'Natureza da Organização', class: 'u-label-big'
            %br
            %br
            .row
              .col.s4
                = f.check_box :nat_privada
                = f.label :nat_privada, 'Privada'
              .col.s4
                = f.check_box :nat_publica
                = f.label :nat_publica, 'Pública'
              .col.s4
                = f.check_box :nat_ong
                = f.label :nat_ong, 'ONG'
          .input-field
            = f.label :target_audience, 'O Público Alvo', class: 'u-label-big'
            %br
              = f.text_field :target_audience, class: 'validate'
      .col.s12.m2
  .upme-action-bar-bg
    .container
      .row.no-padding.upme-action-bar
        .col.m2.no-padding
        .col.m8.s12.no-padding
          .col.s3.m4.left-align.no-padding
            = button_to 'Cancelar', projects_path, class: 'upme-btn-a'
          .col.s4.center-align.no-padding

          .col.s5.m4.right-align.no-padding
            = submit_tag 'Publicar Projeto', class: 'upme-btn-b'
