.card
  .card-body
    .label Projeto
    %h1.title= @project.title
  %ul.list-group.list-group-flush
    = link_to 'Projeto', project_path(project.id), class: 'list-group-item list-group-item-action ' + (action_name == 'show' ? 'active' : '')
    = link_to 'Eventos', events_path(project.id), class: 'list-group-item list-group-item-action ' + (action_name == 'events' ? 'active' : '')
    = link_to timeline_path(project.id), class: 'list-group-item list-group-item-action ' + (action_name == 'timeline' ? 'active' : '') do
      Linha do Tempo
      - project_user = ProjectUser.where(project_id: @project.id).where(user_id: current_user.id).first
      -# - unless project_user.first_timeline_view == true
  - unless @project.client

    = link_to client_solicitations_path(project.id), class: 'list-group-item list-group-item-action ' + (action_name == 'client_solicitations' ? 'active' : '') do
      Solicitações de clientes

      - if @project.client_solicitations.size > 0
        %span.new.badge.red.upme-badge-number{data: {'badge-caption' => ''}}= @project.client_solicitations.size

  - if @project.client and @project.project_users.size == 1
    = link_to member_solicitations_path(project.id), class: 'list-group-item list-group-item-action ' + (action_name == 'member_solicitations' ? 'active' : '') do
      Solicitações

      - if @project.member_solicitations.size > 0
        %span.new.badge.red.upme-badge-number{data: {'badge-caption' => ''}}= @project.member_solicitations.size

  - if @project.started == false and @project.client and @project.client.id == current_user.id
    = link_to payment_path(project.id), class: 'upme-tab-title ' + (action_name == 'payment' ? 'active' : '') do
      Pagamentos
      - project_user = ProjectUser.where(project_id: @project.id).where(user_id: current_user.id).first


  .card-body
    - if @project.client
      .label Cliente
      .profile-small
        = image_tag profilepic(@project.client), class: 'profile-image', id: 'img-profilepic'
        .profile-name
          = @project.client.first_name.split(' ').first
      %p.text= @project.client.telefone
      %p.text= @project.client.email
      %br
      .label Empresa
      %p= "#{@project.client.numero}, #{@project.client.endereco}"
      %p= "#{@project.client.uf}, #{@project.client.cidade}"
