%h2.upme-sub-title Equipe


%ul.collection{style: 'border: none'}
- @project.project_users.each do |pu|
  %ul
    %li.collection-item.avatar{style: 'border: none'}
      = image_tag profilepic(pu.user), class: 'circle', width: '30px', id: 'img-profilepic'
      %span.title= pu.user.full_name



%a.waves-effect.waves-light.modal-trigger.btn-invite-your-team{href: '#invitation-modal'}
  = image_tag 'app/invite-your-team.svg'
  %br
  Convide seu time


#invitation-modal.modal
  = form_tag create_invitation_path(@project.id) do |f|
    .modal-content
      %h4 Convide seu time

      = text_field_tag :email, '', placeholder: 'Digite o email de quem você quer convidar.'
    .modal-footer
      %a.modal-action.modal-close.waves-effect.btn-flat{href: '#!'} Cancelar
      %button.modal-action.waves-effect.btn-flat{type: :submit} Convidar


:javascript
  $('.modal').modal();
