%ul.upme-tab
  %li= link_to 'Projeto', project_path(project.id), class: 'upme-tab-title ' + (action_name == 'show' ? 'active' : '')

  %li{style: 'position:relative'}
    = link_to timeline_path(project.id), class: 'upme-tab-title ' + (action_name == 'timeline' ? 'active' : '') do
      Linha do Tempo
      - project_user = ProjectUser.where(project_id: @project.id).where(user_id: current_user.id).first
      -# - unless project_user.first_timeline_view == true
      -#   = image_tag('app/notes/note-frist-view-timeline.png', style: 'position: absolute; margin-top: -70px; margin-left: -45px;')
  - if @project.started == false and @project.client and @project.client.id == current_user.id
    %li{style: 'position:relative'}
      = link_to payment_path(project.id), class: 'upme-tab-title ' + (action_name == 'payment' ? 'active' : '') do
        Pagamentos
        - project_user = ProjectUser.where(project_id: @project.id).where(user_id: current_user.id).first

  - unless @project.client
    %li
      = link_to client_solicitations_path(project.id), class: 'upme-tab-title ' + (action_name == 'client_solicitations' ? 'active' : '') do
        Solicitações de clientes

        - if @project.client_solicitations.size > 0
          %span.new.badge.red.upme-badge-number{data: {'badge-caption' => ''}}= @project.client_solicitations.size

  - if @project.client and @project.project_users.size == 1
    %li
      = link_to member_solicitations_path(project.id), class: 'upme-tab-title ' + (action_name == 'member_solicitations' ? 'active' : '') do
        Solicitações

        - if @project.member_solicitations.size > 0
          %span.new.badge.red.upme-badge-number{data: {'badge-caption' => ''}}= @project.member_solicitations.size
