%h2.upme-sub-title Equipe

%ul.collection{style: 'border: none'}
- @project.project_users.each do |pu|
  %ul
    - if @project.client.nil? or @project.client.id != pu.user.id
      = link_to profile_path(pu.user.id) do
        %li.collection-item.avatar{style: 'border: none'}
          = image_tag profilepic(pu.user), class: 'circle', width: '30px', id: 'img-profilepic'
          %span.title.dark-link= pu.user.full_name

- if @project.client
  %h2.upme-sub-title Cliente
  %ul
    = link_to profile_path(@project.client.id) do
      %li.collection-item.avatar{style: 'border: none'}
        = image_tag profilepic(@project.client), class: 'circle', width: '30px', id: 'img-profilepic'
        %span.title.dark-link= @project.client.full_name