- if controller_name == "explore"
  - path = public_project_path(project.id)
- else
  - if project.started
    - path = timeline_path(project.id)
  - else
    - path = project_path(project.id)

.col.m4.s12
  = link_to path do
    .project-ad-box{style: 'height: 420px; margin-bottom: 24px;'}
      .row.no-mb
        .col.s9
          - if project.user.profilepicurl
            .project-user-photo{style: "background-image: url('#{project.user.profilepicurl}')"}
          - else
            .project-user-photo
          .project-username= project.user.full_name
        .col.s3
          .project-date= project.created_at.strftime('%d/%m/%y')
      .project-image-container
        - if project.imgurl
          = image_tag project.imgurl, class: 'project-image'
        - else
          = image_tag 'app/project-image-placeholder.png', class: 'project-image'

        - if project.client and project.client.logourl
          = image_tag project.client.logourl, class: 'project-company-logo'
        - else
          = image_tag 'app/project-image-placeholder.png', class: 'project-company-logo'
      - if project.user.user_area_de_interesse.first
        .tag-upme-blue
          = project.user.user_area_de_interesse.first.area_de_interesse.name
          //.btn-upme-outline-grey.btn-small.btn-square{style: 'padding: 6px 3px; display:inline-block;'} +9
      .h2.project-title= project.title
      .p.project-description= project.description[0..110] + '...'
      - if project.deleted
        %span.red.badge{style: 'color: white;'} Projeto arquivado