- if controller_name == "explore"
  - path = public_project_path(project.id)
- else
  - if project.started
    - path = timeline_path(project.id)
  - else
    - path = project_path(project.id)

.col-lg-4.col-md-6.col-12
  = link_to path, class: 'card projects-list' do
    .card-header
      - if project.user.profilepicurl
        .up-avatar-small{style: "background-image: url('#{project.user.profilepicurl}')"}
      - else
        .profile-small
          .profile-image
          .profile-name
            = project.user.first_name.split(' ').first
    
      
      -# - if project.client and project.client.logourl
      -#   = image_tag project.client.logourl, class: 'project-company-logo'
      -# - else
      -#   = image_tag 'app/project-image-placeholder.png', class: 'project-company-logo'
    .card-image-container
      - if project.imgurl
        = image_tag project.imgurl, class: 'card-image'
      - else
        = image_tag 'app/project-image-placeholder.png', class: 'card-image'

      - if project.project_area_de_interesse.first
        .card-categories
          .badge.badge-primary
            = project.project_area_de_interesse.first.area_de_interesse.name
          - if project.project_area_de_interesse.size > 1
            .btn-upme-outline-grey.btn-small.btn-square{style: 'padding: 6px 3px; display:inline-block;'}= "+#{project.project_area_de_interesse.size-1}"
    .card-footer
      %h4.card-title.up-header= project.title
      - if project.deleted
        %span.red.badge{style: 'color: white;'} Projeto arquivado
