= render 'layouts/upme_nav'

.container
  .row
    .col.s12.m12
      = render partial: 'project_tabs', locals: { project: @project }
    .row
      .col.m2.s12
      .col.m8.s12
        .private-project-box
          .row
            - if @project.client_solicitations.empty?
              .upme-sub-title Nenhuma solicitação.
            - @project.client_solicitations.each do |cs|
              .col.s2
                = link_to profile_path(cs.user) do
                  = image_tag profilepic(cs.user), class: 'circle', width: '100px', id: 'img-profilepic'
              
              .col.s9
                = link_to profile_path(cs.user) do
                  .upme-sub-title.blue-hover= cs.user.full_name
                  .col.s12
                  %br
                  %p= cs.message
                  %br
                  = link_to 'Aceitar', accept_client_solicitation_path(cs.id), class: 'waves-effect waves-light btn-upme-blue'
                  = link_to 'Recusar', refuse_client_solicitation_path(cs.id), class: 'waves-effect waves-dark btn-upme-outline-grey'
      .col.m2.s12
        = render partial: 'project_right_bar', locals: { project: @project }

