= render 'layouts/upme_nav'

.container
  .row
    .col-md-3
      = render partial: 'project_tabs', locals: { project: @project }
    .col-md-6
      .card.card-full-width
        .card-body
          %h3.label Eventos
          %br
          %br
          - if @project.client
            - if @events.empty?
              .center-align Nenhum
            - else
              %table.bordered.striped
                %tr
                  %th Titulo
                  %th Data Inicio
                  %th Data Fim
                  %th Usuario
                - @events.each do |event|
                  %tr
                    %td= event.title
                    %td= convert_timestamp(event.start_date)
                    %td= convert_timestamp(event.end_date)
                    %td= event.user.full_name

    .col-md-3
      = render partial: 'project_right_bar', locals: { project: @project }

= render 'layouts/upme_footer'
