= render 'layouts/upme_nav'


- if current_user.my_invitations.size > 0
  .container
    .row
      .col.m2
      .col.m8.s12
        .upme-alert-invitation
          - current_user.my_invitations.each do |invitation|
            .upme-sub-title
              O projeto
              = link_to invitation.project.title, public_project_path(invitation.project.id)
              quer te convidar
            .invitation-button
              = link_to 'Aceitar convite', accept_invitation_path(invitation.id), class: "btn-upme-blue"
              = link_to 'Recusar', refuse_invitation_path(invitation.id), class: "btn-upme-outline-grey"
      .col.m2

- if @projects.size > 0
  .container
    .row
      .col.m12.l6
        .upme-screen-title
          %i.upme-screen-logo{data: {feather: 'clipboard'}}
          - if action_name == 'filed_projects'
            %span Projeto arquivados
          - else
            %span Projetos que você faz parte
      .col.m12.l6.right-align
        %br
        %br
        - if action_name == 'index'
          = link_to 'Projetos arquivados', filed_projects_path, class: 'label-upme'
        - else
          = link_to projects_path, class: 'waves-effect waves-light-dark btn-upme-outline-grey btn-small' do
            %i.icon-small{data: {feather: 'chevron-left'}}
            Voltar para projetos
        &nbsp
        &nbsp
        = link_to 'Novo projeto', new_project_path, class: 'waves-effect waves-light btn-upme-blue btn-small'
      
    .row
      - @projects.each do |project|
        = render partial: 'project_box', locals: { project: project }
- else
  .container
    .row
      .col.m4.s12.offset-m4.center-align
        %br
        %i.no-projects-icon-plus{data: {feather: 'plus-circle'}}
        %h2.upme-sub-title.center-align
          Você ainda não tem
          %br projetos cadastrados :(
        = link_to 'Cadastrar primeiro projeto', new_project_path, class: 'waves-effect waves-light btn-upme-blue'