- if current_user.empresa?
  - @title =  "Minhas demandas"
- else
  - @title = "Minhas ofertas"

= render 'layouts/upme_nav'

- if current_user.my_invitations.size > 0
  .container{style: "margin-top:1rem;"}
    .row
      .col-md-2
      .col-12.col-md-8
        .upme-alert-invitation
          - current_user.my_invitations.each do |invitation|
            .label.upme-alert-invitation-title
              Você está sendo convidado para participar do projeto:
              = link_to invitation.project.title, public_project_path(invitation.project.id)
            .invitation-button
              = link_to 'Aceitar convite', accept_invitation_path(invitation.id), class: "btn-primary"
              = link_to 'Recusar', refuse_invitation_path(invitation.id), class: "btn-default"
      .col.m2

- if current_user.my_projects.size > 0 or current_user.my_filed_projects.size > 0
  .container
    .page-header
      .row
        .col.m12.l6
          %h1.title
            - if action_name == 'filed_projects'
              %span Projetos arquivados
            - else
              - if current_user.empresa?
                %span Minhas demandas
              - else
                %span Minhas ofertas

     
    .row
      .col-12.col-md-3
        - if action_name == 'index'
          = link_to 'Projetos arquivados', filed_projects_path, class: 'label-upme'
        - else
          = link_to projects_path, class: 'btn btn-default btn-small' do
            %i.up-arrow-left
            Voltar para askmdalksdjlasjd

      .col-lg-9
        .row
          - @projects.each do |project|
            = render partial: 'project_box', locals: { project: project }
- else
  .container
    .row
      .col.m4.s12.offset-m4.text-center
        %br
        %i.no-projects-icon-plus{data: {feather: 'plus-circle'}}
        %h2.upme-sub-title.text-center
          Você ainda não tem
          %br projetos cadastrados :(
        %br
        = link_to 'Cadastrar primeiro projeto', new_project_path, class: 'btn-primary'

= render 'layouts/upme_footer'