= render 'layouts/upme_nav'


- if current_user.my_invitations.size > 0
  .container
    .row
      .col.m2
      .col.m8.s12
        .upme-alert-invitation
          - current_user.my_invitations.each do |invitation|
            .upme-sub-title
              O projeto
              = link_to invitation.project.title, public_project_path(invitation.project.id)
              quer te convidar
            .invitation-button
              = link_to 'Aceitar convite', accept_invitation_path(invitation.id), class: "btn-upme-blue"
              = link_to 'Recusar', refuse_invitation_path(invitation.id), class: "btn-upme-outline-grey"
      .col.m2

- if current_user.my_projects.size > 0
  .container
    .row
      .col.s6
        %h2.upme-sub-title Seus projetos.
      .col.s6.right-align
        %br
        = link_to 'Novo projeto', new_project_path, class: 'waves-effect waves-light-blue btn-upme-outline-blue btn-small'
      
    .row
      - current_user.my_projects.each do |project|
        .col.m3
          = link_to public_project_path(project.id) do
            .paper-box{style: 'height: 220px; margin-bottom: 20px;'}
              .h2.project-title= project.title[0..10] + '...'
              .p.project-description= project.description[0..50] + '...'
              %br
              .p.project-description= project.user.full_name
              .p.project-description= project.created_at.strftime('%d/%m/%y')

- else
  .container
    .row
      .col.m4.offset-m4.center-align
        %br
        %i.no-projects-icon-plus{data: {feather: 'plus-circle'}}
        %h2.upme-sub-title.center-align
          Você ainda não tem
          %br projetos cadastrados :(
        = link_to 'Cadastrar primeiro projeto', new_project_path, class: 'waves-effect waves-light btn-upme-blue'