= render 'layouts/upme_nav'


- if current_user.my_invitations.size > 0
  %h4 Meus convites
  .container
    .row
      .col.s2
      .col.s8
        - current_user.my_invitations.each do |invitation|
          %h5 o projeto tal quer te convidar
          .right-align
            = link_to 'Aceitar', accept_invitation_path(invitation.id)
            = link_to 'Recusar', refuse_invitation_path(invitation.id)
      .col.s2



- if current_user.my_projects.size > 0
  .container
    .row
      .col.s6
        %h2.upme-sub-title Seus projetos.
      .col.s6.right-align
        %br
        = link_to 'Novo projeto', new_project_path, class: 'waves-effect waves-light-blue btn-upme-outline-blue btn-small'
      

    - current_user.my_projects.each do |project|
      .row
        .col.s3
          = link_to project_path(project.id) do
            .paper-box
              .project-title= project.title
              .project-description=project.description
- else
  .container
    .row
      .col.m4.offset-m4.center-align
        %br
        %i.no-projects-icon-plus{data: {feather: 'plus-circle'}}
        %h2.upme-sub-title.center-align Você ainda não tem projetos cadastrados :(
        = link_to 'Cadastrar primeiro projeto', new_project_path, class: 'waves-effect waves-light btn-upme-blue'