= render 'layouts/upme_nav'


- if current_user.my_invitations.size > 0
  .container
    .row
      .col.m2
      .col.m8.s12
        .upme-alert-invitation
          - current_user.my_invitations.each do |invitation|
            .upme-sub-title
              O projeto
              = link_to invitation.project.title, public_project_path(invitation.project.id)
              quer te convidar
            .invitation-button
              = link_to 'Aceitar convite', accept_invitation_path(invitation.id), class: "btn-upme-blue"
              = link_to 'Recusar', refuse_invitation_path(invitation.id), class: "btn-upme-outline-grey"
      .col.m2

- if current_user.my_projects.size > 0 or current_user.my_filed_projects.size > 0
  .container
    .page-header
      .row
        .col.m12.l6
          .title
            - if action_name == 'filed_projects'
              %span Projetos arquivados
            - else
              %span Meus projetos
     
    .row
      .col-lg-3
        .card
          %ul.list-group.list-group-flush
            %li.list-group-item
              - if action_name == 'index'
                = link_to 'Projetos arquivados', filed_projects_path, class: 'label-upme'
              - else
                = link_to projects_path, class: 'waves-effect waves-light-dark btn-upme-outline-grey btn-small' do
                  %i.icon-small{data: {feather: 'chevron-left'}}
                  Voltar para projetos

      .col-lg-9
        .row
          - @projects.each do |project|
            = render partial: 'project_box', locals: { project: project }
- else
  .container
    .row
      .col.m4.s12.offset-m4.text-center
        %br
        %i.no-projects-icon-plus{data: {feather: 'plus-circle'}}
        %h2.upme-sub-title.text-center
          Você ainda não tem
          %br projetos cadastrados :(
        %br
        = link_to 'Cadastrar primeiro projeto', new_project_path, class: 'btn-primary'

= render 'layouts/upme_footer'