= render 'layouts/upme_nav'

.container
  .row
    .col.s12.m12
      = render partial: 'project_tabs', locals: { project: @project }
    .row
      .col.m2.s12
      .col.m8.s12
        .private-project-box
          - if @project.client_solicitations.size == 0
            .upme-sub-title.center-align Você ainda não tem solicitaçõoes.
          - @project.client_solicitations.each do |cs|
            = image_tag profilepic(cs.user), class: 'circle', width: '100px', id: 'img-profilepic'

            %li= cs.user.full_name
            %li= cs.user.email

            %p= cs.message
            = link_to 'Aceitar', accept_client_solicitation_path(cs.id)
            = link_to 'Recusar', refuse_client_solicitation_path(cs.id)
            %hr
      .col.m2.s12
        = render partial: 'project_invitations', locals: { project: @project }

