= render 'layouts/upme_nav'

.container
  .row
    .col-12.col-md-3
      = render partial: 'project_tabs', locals: { project: @project }
    .col-12.col-md-6
      .card
        .card-body
          - if @project.member_solicitations.empty?
            .upme-sub-title Nenhuma solicitação.
          - @project.member_solicitations.each do |cs|
            .col.s2
              = image_tag profilepic(cs.user), class: 'circle', width: '100px', id: 'img-profilepic'
            
            .col.s9
              .upme-sub-title= cs.user.full_name
              .row
                .col.s12
                %br
                %p= cs.message
                %br
                = link_to 'Aceitar', accept_member_solicitation_path(cs.id), class: 'waves-effect waves-light btn-upme-blue'
                = link_to 'Recusar', refuse_member_solicitation_path(cs.id), class: 'waves-effect waves-dark btn-upme-outline-grey'
    .col-12.col-md-3
      = render partial: 'project_right_bar', locals: { project: @project }

= render 'layouts/upme_footer'