= render 'layouts/upme_nav'

.container
  .row
    .col.s12.m12
      = render partial: 'project_tabs', locals: { project: @project }
    .row
      .col.m2.s12
      .col.m8.s12
        .private-project-box
          %h3.huge-title Tentativas de Pagamentos
          %br
          %br
          - if @project.client
            .row
              .col.m12.s12
                - if @payments.empty?
                  .center-align Nenhum
                - else
                  %table.bordered.striped
                    %tr
                      %th Nome
                      %th Valor
                      %th Status Pagamento
                    - @payments.each do |payment|
                      %tr
                        %td= payment.user.full_name
                        %td= number_to_currency(payment.order_amount, :precision => 2)
                        %td= payment.status



            .row
              .col.m12.s12
            =render 'stripe_form'
      .col.m2.s12
        = render partial: 'project_right_bar', locals: { project: @project }

= render 'layouts/upme_footer'
