= render 'layouts/upme_nav'

.container
  .row
    .col.s12.m12
      = render partial: 'project_tabs', locals: { project: @project }
    .row
      .col.m2.s12
      .col.m8.s12
        .private-project-box
          %h3.huge-title Tentativas de Pagamentos
          %br
          %br
          - if @project.client
            .row
              .col.m12.s12
                - if @payments.empty?
                  .center-align Nenhum
                - else
                  %table.bordered.striped
                    %tr
                      %th Nome
                      %th Valor
                      %th Status Pagamento
                    - @payments.each do |payment|
                      %tr
                        %td= payment.user.full_name
                        %td= payment.order_amount
                        %td= payment.status



            .row
              .col.m12.s12
                - if @payments.where(status: :aguardando)
                  Seu pagamento esta aguardando confirmação, espera a solicitação receber atualização para prosseguir.
                  Se o pagamento for negado por algum motivo, você poderá efetuar uma nova tentativa de pagamento.
                - else
                  = form_tag charges_path do
                    = hidden_field_tag "stripeToken"
                    = hidden_field_tag "project_id",@project.id
                    %article
                    - if flash[:error].present?
                      %p= flash[:error]
                    %label.amount
                      %span
                      Valor: R$ 500,00
                    %script.stripe-button{"data-amount" => "50000", "data-description" => "match payment", "data-key" => ENV["stripe_publishable_key"], "data-locale" => "auto", :src => "https://checkout.stripe.com/checkout.js"}

      .col.m2.s12
        = render partial: 'project_right_bar', locals: { project: @project }

= render 'layouts/upme_footer'
