= render 'layouts/upme_nav'

.container{style: 'margin-top: 30px'}
  .row
    .col.s12.m2
      = link_to '< Voltar', projects_path
      %br
      - if ClientSolicitation.solicitation_exists(@project, current_user)
        %br
        Aguardando resposta.
      - if current_user.empresa? and @project.client_id.nil? and !ClientSolicitation.solicitation_exists(@project, current_user)
        %br
        %a.waves-effect.waves-light.btn-upme-blue.modal-trigger{href: '#modal1', style: 'text-transform: none; letter-spacing: 0px; padding-right: 8px; padding-left: 8px'} Tenho interesse!
      %br
    .col.s12.m8
      .paper-box
        %h1.huge-title= @project.title
        %br
        .label-upme Objetivo deste projeto
        %p= @project.objective
        .label-upme Mais informações
        %p= @project.description
        .label-upme Natureza
        %li= 'Pública' if @project.nat_publica
        %li= 'Privada' if @project.nat_privada
        %li= 'ONG' if @project.nat_ong
        .label-upme O público alvo
        %p= @project.target_audience
    .col.s12.m2
      %h5 Equipe
      %ul.collection{style: 'border: none'}
        - @project.project_users.each do |pu|
          %li.collection-item.avatar{style: 'border: none'}
            = image_tag profilepic(pu.user), class: 'circle', width: '100px', id: 'img-profilepic'
            %span.title= pu.user.full_name

#modal1.modal
  = form_tag add_client_solicitation_path do
    .modal-content
      %h4.upme-sub-title Mostre seu interesse
      %p.help-text
        %i{data: {feather: "help-circle"}}
        Descreva aqui os motivos pelos quais você tem interesse em ingressar nesta experiência. Lembre-se de ser claro e atraente para despertar o interesse sobre você.
      .label-upme Edite sua mensagem
      = text_area_tag :message,"Olá! Adoraria fazer parte do seu projeto! Se quiser saber mais sobre mim, olhe meu perfil. Obrigado(a)" ,class: "materialize-textarea"
    .modal-footer.row
      .col.s12
        %button.waves-effect.waves-light.btn-upme-outline-grey.modal-close{type: :button} Cancelar
        %button.waves-effect.waves-light.btn-upme-blue Enviar Solicitação

:javascript
  $('.modal').modal();
