-# Meus projetos - Projeto privado - informações do projeto

= render 'layouts/upme_nav'

.container
    .row
        .col-12.col-md-3
            = render partial: 'project_tabs', locals: { project: @project }
            %br
            = link_to public_project_path(@project) do
                .banner-see-public
                    %i{data: {feather: 'eye'}}
                    .upme-sub-title Visualizar projeto como público
            - if current_user.can_edit_project? @project
                %br
                = button_to 'Editar Projeto', edit_project_path(@project), class: 'btn-primary btn-full-width', method: :get
            %br

            - if @project.can_be_deleted_by(current_user)
                .dropdown-button.btn-upme-outline-grey.btn-small.btn-full-width.hover-pointer{data: {activates: 'project-more-actions'}} Mais ações
                %ul.dropdown-content#project-more-actions
                    %li
                        = link_to delete_project_path(@project), style: 'color: #FB3028;' do
                            %i{data: {feather: 'inbox'}, style: 'stroke: #FB3028;'}
                            %span Arquivar Projeto
                    %li
                        = link_to duplicate_project_path(@project), style: 'color: #666;' do
                            %i{data: {feather: 'copy'}, style: 'stroke: #666;'}
                            %span Duplicar projeto

            - if @project.can_be_restored_by(current_user)
                = button_to 'Restaurar', restore_project_path(@project), class: 'btn-upme-outline-grey btn-small btn-full-width', method: :get

            %br
        .col-12.col-md-6
            .private-project-box.card
                .card-body
                    %br
                    .label Objetivo
                    %p= @project.objective
                    %br
                    .label Público-alvo
                    %p= @project.target_audience
                    %br
                    .label Mais informações
                    %p= @project.description
                    = render partial: 'natureza_project'


        .col-12.col-md-3
            = render partial: 'project_right_bar', locals: { project: @project }

= render 'layouts/upme_footer'

-#= form_tag charges_path do
-#    = hidden_field_tag "stripeToken"
-#    = hidden_field_tag "project_id",value:@project.id
-#    %article
-#    - if flash[:error].present?
-#        %p= flash[:error]
-#    %label.amount
-#        %span
-#        Amount: 444
-#    %script.stripe-button{"data-amount" => "444", "data-description" => "A month's subscription", "data-key" => "pk_test_LgIn9j5xnZrhIINFabiohkYO", "data-locale" => "auto", :src => "https://checkout.stripe.com/checkout.js"}
