- @title = @project.title

- if current_user
  = render 'layouts/upme_nav'
- else
  = render 'layouts/nav_site'
  
.container{style: 'margin-top: 30px'}
  .row
    .col-12.col-md-3
      - if current_user
        = link_to :back, class: 'btn btn-default btn-small' do
          %i.up-arrow-left
          Voltar
        %br
        %br
      .card
        .card-body 
          - if @project.user.empresa?
            .label Empresa:
            .profile
              = image_tag logourl(@project.user), class: 'profile-image'           
              .profile-name= @project.user.nome_empresa
            %br
              
          - else
            .label Professor:
            .profile
              = image_tag profilepic(@project.user), class: 'profile-image'
              .profile-name= @project.user.full_name
            %br
          %p= @project.user.about
          %i.up-pin
          = @project.user.cidade
        
          - if @project.user.empresa?
            %hr
            .label Criado por:
            .profile-small
              = image_tag profilepic(@project.user), class: 'profile-image'
              .profile-name= @project.user.full_name
          

    .col-12.col-md-6
      .card-list
        .card
          .card-body
            %h1.title= @project.title
            .label Objetivo deste projeto
            %p= @project.objective
            
            .label Mais informações
            %p= @project.description

            = render partial: 'natureza_project'
                
        .card
          .card-header.d-flex.justify-content-between{"aria-controls" => "faq-collapse", "aria-expanded" => "true", "data-parent" => "#exampleAccordion", "data-toggle" => "collapse", :href => "#faq-collapse"}
            .label.float-left Perguntas frequentes
            .btn.btn-default.btn-small
              Veja aqui
          #faq-collapse.collapse{:role => "tabpanel"}
            .card-body
              #faq{:role => "tablist"}
                #headingOne{:role => "tab"}
                  
                  .label Os alunos recebem para fazer a consultoria ou o projeto?
                  %p Empresas não pagam pelos projetos e alunos não recebem para executar os trabalhos. Os projetos ofertados na UpMe! são de natureza pró-bono, um tipo de voluntariado exercido com competência técnica e caráter profissional, não existe transição monetária entre cliente e equipe ou professor. No entanto, a UpMe! Cobra uma taxa de operação pelo match.

                  .label As empresas precisam pagar para a UpMe?
                  %p Sim! Os projetos ofertados na UpMe! são de natureza pró-bono, um tipo de voluntariado exercido com competência técnica e caráter profissional, não existe transição monetária entre cliente e equipe ou professor. A taxa de operação da UpMe!, realizada em parcela única, não diz respeito ao valor do projeto. Ela existe para garantir a sustentabilidade da nossa iniciativa. Ou seja, para que possamos continuar mantendo uma estrutura para conectar alunos e professores universitários à demandas reais de mercado.               
          
    .col-12.col-md-3
      .card
        .card-body
          - if current_user and !@project.started and @project.user_id != current_user.id
            - if @project.user.professor? and current_user.empresa?
              - if !ClientSolicitation.solicitation_exists(@project, current_user)
                %div
                  .label.mb-3 Ficou interessado nesta oferta?
                  .btn.btn-primary.btn-full-width{data: {toggle: "modal", target: "#modal1"} }
                    %i.up-negociation
                    Quero contratar
                  
                  %p.d-flex.mt-3 É grátis. Cobramos somente quando a consultoria é iniciada, veja os preços.
              - else
                = render partial: 'projects/solicitacao_enviada'
            - if @project.user.empresa? and !current_user.empresa?
              - if !MemberSolicitation.solicitation_exists(@project, current_user)
                %div
                  .label Ficou interessado nesta demanda da empresa?
                  %p Transforme trabalhos da sua disciplina em serviço de consultoria para seus alunos proporcianando experiencia de mercado.
                  .btn.btn-primary.btn-full-width{data: {toggle: "modal", target: "#modal2"} }
                    %i.up-negociation
                    Ofertar consultoria
              - else
                = render partial: 'projects/solicitacao_enviada'
            - if @project.user.professor? 
              %hr
                .label.mb-3 O que vem a seguir:
                #next-steps-project
                  .step
                    .step-number.active 1
                    .step-text Quero contratar
                  .step
                    .step-number 2
                    .step-text Aguarde a resposta do professor
                  .step
                    .step-number 3
                    .step-text Negocie e aceite o escopo da consultoria
                  .step
                    .step-number 4
                    .step-text Dê inicio a consultoria
            - if @project.user.empresa? 
              %hr
                .label.mb-3 O que vem a seguir:
                #next-steps-project
                  .step
                    .step-number.active 1
                    .step-text Ofertar consultoria
                  .step
                    .step-number 2
                    .step-text Aguarde a resposta da empresa
                  .step
                    .step-number 3
                    .step-text Defina o escopo da consultoria
                  .step
                    .step-number 4
                    .step-text Dê inicio a consultoria
          - unless current_user
            .label Ficou interessado no projeto?
            = link_to 'Faça seu cadastro!', registrar_path + "?voltar_para_projeto=#{@project.id}", class: 'btn btn-primary'
      
      - unless current_user
        = render partial: 'project_team'

#modal1.modal.fade
  = form_tag add_client_solicitation_path(@project.id), class: 'modal-dialog' do
    .modal-content
      .modal-header
        .modal-title Mostre seu interesse
      .modal-body
        %p.help-text
          %i{data: {feather: "help-circle"}}
          Descreva aqui os motivos pelos quais você tem interesse em ingressar nesta experiência. Lembre-se de ser claro e atraente para despertar o interesse sobre você.
        .label Edite sua mensagem
        = text_area_tag :message, "Olá! Adoraria fazer parte do seu projeto! Se quiser saber mais sobre mim, olhe meu perfil. Obrigado(a)" ,class: "form-control"
      .modal-footer
        %button.btn-default{data: {dismiss: "modal"}} Cancelar
        %button.btn-primary Enviar Solicitação

#modal2.modal.fade
  = form_tag add_member_solicitation_path(@project.id), class: 'modal-dialog' do
    .modal-content
      .modal-header
        .modal-title Mostre seu interesse
      .modal-body
        %p.help-text
          %i{data: {feather: "help-circle"}}
          Descreva aqui os motivos pelos quais você tem interesse em ingressar nesta experiência. Lembre-se de ser claro e atraente para despertar o interesse sobre você.
        .label Edite sua mensagem
        = text_area_tag :message, "Olá! Adoraria fazer parte do seu projeto! Se quiser saber mais sobre mim, olhe meu perfil. Obrigado(a)" ,class: "form-control"
      .modal-footer
        %button.btn-default{data: {dismiss: "modal"}} Cancelar
        %button.btn-primary Enviar Solicitação

= render 'layouts/upme_footer'

:javascript
  $('.modal').modal();
