= render 'layouts/upme_nav'

.container
    .row
        .col.s12.m12
            = render partial: 'project_tabs', locals: { project: @project }
        .row
            .col.m2.s12
                %br
                = link_to 'Projeto Público', public_project_path(@project)
            .col.m8.s12
                .private-project-box
                    .label-upme Projeto
                    %h1.huge-title= @project.title
                    .label-upme Objetivo
                    %p= @project.objective
                    .label-upme Público-alvo
                    %p= @project.target_audience
                    .label-upme Mais informações
                    %p= @project.description
                    = render partial: 'natureza_project'


            .col.m2.s12
                = render partial: 'project_invitations', locals: { project: @project }



