= render 'layouts/upme_nav'

.container
  .row
    .col.s12.m12
      = render partial: 'project_tabs', locals: { project: @project }
    .row
      .col.m2.s12
      .col.m8.s12
        .private-project-box
          .label-upme Projeto
          %h1.huge-title= @project.title
          %br
          .upme-loading
          #timeline
      .col.m2.s12
        = render partial: 'project_right_bar', locals: { project: @project }

:javascript


  function refresh_timeline(html) {
    $( "#timeline" ).html( html );
    $( '.upme-loading').hide();

    $('.edit-step-data').click(function(event) {
      event.stopPropagation();
      $('.datepicker').focus();
    });

    $('.timeline-comment-submit').click(function() {
      $( '.upme-loading').show();
      $( "#timeline" ).html( '' );

      var form = $(this).parent();
      $.ajax({
        type: "POST",
        url: form.attr('action'),
        data: form.serialize(),
        success: function(data)
        {
          refresh_timeline(data);
        }
      });
    });

    $('.datepicker').pickadate({
      monthsFull: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
      weekdaysFull: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabádo'],
      weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
      today: 'Hoje',
      clear: 'Limpar',
      close: 'Pronto',
      labelMonthNext: 'Próximo mês',
      labelMonthPrev: 'Mês anterior',
      labelMonthSelect: 'Selecione um mês',
      labelYearSelect: 'Selecione um ano',
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      closeOnSelect: false, // Close upon selecting a date,
      onSet: function() {
        $('.picker__close').click(function() {
          console.log('E MUDOU');
        });
      },
    });

    $('.collapsible').collapsible();

    if($('#scroll-here').length) {
      $('html,body').animate({scrollTop: $('#scroll-here').offset().top});
    }
  }

  $( '.upme-loading').show();
  $.get( "#{show_timeline_url(@project.id, @project.timeline_steps.first.id)}", function( data ) {
    refresh_timeline(data);
  });
