= render 'layouts/upme_nav'

.container
  .row
    .col.s12.m12
      = render partial: 'project_tabs', locals: { project: @project }
    .row
      .col.m2.s12
      .col.m8.s12
        .private-project-box
          .label-upme Projeto
          %h1.huge-title= @project.title
          %br
          .timeline
            %ul.collapsible{data: {collapsible: 'expandable'}}
              - @project.timeline_steps.each_with_index do |step, index|
                %li
                  .collapsible-header.timeline-step-header{class: index == 0 ? 'active' : ''}
                    .timeline-step-check
                    .col.s6
                      .label-upme= "Etapa 0#{index+1}"
                    .col.s6.right-align
                      .label-upme
                        - if step.entregue?
                          .label-green= "Entregue #{l step.check_date}"
                        - else
                          - if step.entrega > Time.now.to_date
                            = l step.entrega
                          - else
                            - dias_atraso = (Time.now.to_date - step.entrega).to_i
                            - if dias_atraso == 0
                              A entrega é hoje
                            - else
                              .label-red= "#{dias_atraso} dia(s) de atraso"
                  .collapsible-body.timeline-step-body
                    %h4.upme-sub-title= step.title
                    %p
                      = step.description
                    .label-upme Entregável
                    %p= step.entregavel

                    .label-upme Comentários
                    %br
                    - step.timeline_comments.each do |comment|
                      .comment-row#botaoenviarcomentario
                        = image_tag profilepic(comment.user), class: 'circle comment-avatar', width: '40px', id: 'img-profilepic'
                        %span.comment-username
                          = link_to comment.user.full_name, profile_path(comment.user.id), class: 'dark-link'
                        %p.comment-message= comment.message
                        .comment-info= l comment.created_at
                    .right-align
                      - if current_user.can_finish_step?(@project, step)
                        = button_to 'Entregar', finish_step_path(@project, step), method: :get, class: 'upme-btn-a btn'
                    .label-upme Comente
                    = form_tag timeline_comment_path(@project.id) do
                      = hidden_field_tag :timeline_step_id, step.id
                      = text_area_tag :message, '', class: 'materialize-textarea', placeholder: "Escreva seu comentário aqui"
                      %button.waves-effect.waves-light-blue.btn-upme-outline-blue.btn-small Enviar comentário

      .col.m2.s12
        = render partial: 'project_right_bar', locals: { project: @project }