<div class="upme-logo-container">
</div>
<h1 class="center-align">Faça seu login</h1>
<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
      <div class="paper-box">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-field">
          <%= f.label :email, 'Seu e-mail', class: 'label-upme' %>
          <%= f.email_field :email, class: 'validate big-font-form', placeholder: 'Digite seu e-mail aqui' %>
        </div>
        
        <div class="input-field">
          <%= f.label :password, 'Sua senha', class: 'label-upme' %>
          <%= f.password_field :password, autocomplete: "off", class: 'big-font-form', placeholder: '********'%>
        </div>
        
        
            <%= f.submit 'Fazer login', class: 'waves-effect waves-light btn-upme-blue btn-full-width ' %>
        <% end %>
        <%=
        #render "devise/shared/links"
        %>
      </div>
      <div class="row">
        <div class="col s6">
          <br>
            <%= link_to 'Esqueci minha senha', new_password_path(resource_name), class: 'waves-effect waves-light-blue btn-upme-outline-blue btn-small' %>
        </div>
        <div class="col s6 right-align">
          <br>
            <%= link_to 'Faça seu cadastro', registrar_path, data: { turbolinks: false }, lass: 'waves-effect waves-dark btn-upme-outline-grey btn-small' %>
          </div>
      </div>
    </div>
  </div>
</div>


