%h3.text-center= title

- if projects.empty?
  .center-align Nenhum
- else
  %table.table.table-bordered.table-striped
    %tr
      %th ID
      %th Título
      %th Dono
      %th Cliente
      %th Linha do Tempo
    - projects.each do |project|
      %tr
        %td= project.id
        %td= link_to project.title, admin_project_path(project)
        %td= link_to project.user.first_name, admin_user_path(project.user)
        %td
          - if project.client
            = link_to project.client.first_name, admin_user_path(project.client)
          - else
            = "-"
        %td
          - if project.timeline_steps.size > 0
            %table
              - project.ordered_timeline_steps.each do |step|
                - if step.entregue?
                  - color = 'green'
                - else
                  - color = '#ccc'
               
                %td{style: "background: #{color}"}
                  = step.timeline_comments.size
          - else
            = '-'

