= render partial: 'projects_table', locals: {title: 'Projetos em andamento', projects: Project.projects_running}
= render partial: 'projects_table', locals: {title: 'Projetos aguardando cliente', projects: Project.all_ofertas}
= render partial: 'projects_table', locals: {title: 'Projetos aguardando professor/alunos', projects: Project.all_demandas}
= render partial: 'projects_table', locals: {title: 'Projetos finalizados', projects: []}
= render partial: 'projects_table', locals: {title: 'Projetos arquivados', projects: Project.deleted_projects}
