%h1= @project.title
%b Objetivo deste projeto
%p= @project.objective
%b Público-alvo
%p= @project.target_audience
%b Mais informações
%p= @project.description

- if @project.user.empresa?
  %b= 'Natureza: '
- else
  %b= 'O projeto atende a organizações: '

- if @project.nat_publica
  %li Públicas
- if @project.nat_privada
  %li Privadas
- if @project.nat_ong
  %li Sociais


%hr

%h5 Dono
= link_to @project.user.first_name, admin_user_path(@project.user)

%h5 Cliente
- if @project.client
  = link_to @project.client.first_name, admin_user_path(@project.client)
- else
  = "-"

%h5 Membros
- @project.project_users.each do |pu|
  = link_to pu.user.first_name, admin_user_path(pu.user)


%hr

%h5= link_to 'Ver projeto na plataforma', public_project_path(@project)

%h3 Linha do Tempo

.timeline
  %ul.collapsible{data: {collapsible: 'expandable'}}
    - @project.timeline_steps.each_with_index do |step, index|
      %li
        .collapsible-header.timeline-step-header{class: index == 0 ? 'active' : ''}
          .timeline-step-check
          .col.s6
            .label-upme= "Etapa 0#{index+1}"
          .col.s6.right-align
            .label-upme= l step.entrega
        .collapsible-body.timeline-step-body
          %h4.upme-sub-title= step.title
          %p
            = step.description
          .label-upme Entregável
          %p= step.entregavel

          .label-upme Comentários
          %br
          - step.timeline_comments.each do |comment|
            .comment-row#botaoenviarcomentario
              = image_tag profilepic(comment.user), class: 'circle comment-avatar', width: '40px', id: 'img-profilepic'
              %span.comment-username
                = link_to comment.user.full_name, profile_path(comment.user.id), class: 'dark-link'
              %p.comment-message= comment.message
              .comment-info= l comment.created_at
