<%= render 'layouts/upme_nav' %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: 'projects/project_tabs', locals: {project: @project} %>
    </div>
    <div class="col-md-6">
      <div class="card card-full-width">
        <div class="card-body">

          <div class="row">
            <div class="col">
              <h3 class="label">Re-organizar os Passos da Linha do Tempo</h3>
            </div>
            <div class="col" style="display:flex">
              <%= link_to "Novo Passo da Linha do Tempo", new_timeline_step_path(project_id: @project.id), class: 'btn-small btn-primary ml-auto' %>
            </div>
          </div>

          <br/>
          <br/>

          <% if sou_professor? and @project.user_id == current_user.id %>
              <div style="border: 2px solid #D0DDE1;
                  border-radius: 6px;">
                &nbsp; Arraste os passos para re-ordená-los:

                <br/>
                <br/>

                <ul id="items" data-update-url="<%= sort_timeline_steps_url %>">
                  <% @lista.each do |item| %>
                      <%= content_tag_for :li, item do %>
                          <!--<span class="handle">[> Arraste <]</span>-->
                          <%#= item.position %>
                          <%= link_to h(item.title), item, class: 'btn btn-xs btn-primary', style: 'margin: 10px' %>
                      <% end %>
                  <% end %>
                </ul>
              </div>

          <% else %>
              Apenas os Professores do Projeto podem alterar a ordem dos passos
          <% end %>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%= render partial: 'projects/project_right_bar', locals: {project: @project} %>
    </div>
  </div>
</div>
<%= render 'layouts/upme_footer' %>






