= @page.content(:text).try(:html_safe)

.category_bar


.container
  - pages = current_spina_user.present? ? Spina::Page.active : Spina::Page.live

  .row
    .col-md-8.left-bar
      - pages.each_with_index do |page, index|
        - if index == 1
          - if page.content(:post_logo)
            .row
              .col-md-12
                = link_to '/blog' + page.materialized_path do
                  %img.first_post_image{src: page.content(:post_logo).file}
                  %h2.huge-title= page.title
            %br
            %br
        - else
          - if page.content(:post_logo)
            .row.post-row
              .col-md-4
                = link_to '/blog' + page.materialized_path do
                  %img.post-image{src: page.content(:post_logo).file}
              .col-md-8
                = link_to '/blog' + page.materialized_path do
                  %h2.post-list-title= page.title
                %h3.post-list-subtitle= page.content(:subtitle)

    .col-md-4.right-bar
      .row
        .col-md-12
          - top_page = SpinaCountPageView.top_page_every_time
          - if top_page
            %h3.blue-label Mais vistos:
            = link_to '/blog' + top_page.materialized_path do
              %img{src: top_page.content(:post_logo).file, width: '100%'}
              %h3.post-list-title= top_page.title

          = render 'default/shared/banner'
