= @page.content(:text).try(:html_safe)


.category_bar


.container
  - if current_spina_user.present?
    - pages = Spina::Page.active.order(created_at: :desc)
  - else
    - pages = Spina::Page.live.order(created_at: :desc)

  .row
    .col-md-8.left-bar
      - pages.each_with_index do |page, index|
        - if index == 0
          - if page.content(:post_logo)
            .row
              .col-md-12
                = link_to '/blog' + page.materialized_path do
                  = image_tag page.content(:post_logo).file, class: 'first_post_image'
                  %h2.huge-title= page.title
            %br
            %br
        - else
          - if page.content(:post_logo)
            .row.post-row
              .col-md-4
                = link_to '/blog' + page.materialized_path do
                  = image_tag page.content(:post_logo).file, class: 'post-image'
              .col-md-8
                = link_to '/blog' + page.materialized_path do
                  %h2.post-list-title= page.title
                %h3.post-list-subtitle= page.content(:subtitle)

    .col-md-4.right-bar
      .row
        .col-md-12
          - top_page = SpinaCountPageView.top_page_every_time
          - if top_page
            %h3.blue-label Mais vistos:
            = link_to '/blog' + top_page.materialized_path do
              = image_tag top_page.content(:post_logo).file, width: '100%'
              %h3.post-list-title= top_page.title

          = render 'default/shared/banner'
