- SpinaCountPageView.increment(@page, request)

- @page_image = image_url(@page.content(:post_logo).file)
- @title = @page.title
- @page_image = page.content(:post_logo).file
- @page_description = @page.description

.post-logo-top{style: "background-image: url(#{@page.content(:post_logo).file})"}
/%img{style: 'width: 100%', src: @page.content(:post_logo).file}
.container
  .row
    .col-md-8.left-bar.post
      %h2.post-title= @page.title
      .row
        .col-md-12.text-right
          = #l @page.created_at

      - content = @page.content(:text)
      - text = content.scan(/\[youtube .{11}\]/)
      - text.each { |v| content = content.sub(v, '<div style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/'+text[0][9..-2]+'" frameborder="0" allowfullscreen></iframe></div>') }
      = content.try(:html_safe)

      %h4.post-list-title.blue-label Veja ta  mbém

      - pages = Spina::Page.active.where('id != ?', @page.id)
      .row
        - pages.each_with_index do |page, index|
          - if index == 1
            - if page.content(:post_logo)
              .col-md-6
                = link_to '/blog' + page.materialized_path do
                  = image_tag page.content(:post_logo).file, class: 'post-image'
                  %h2.small-title= page.title
          - if index == 2
            - if page.content(:post_logo)
              .col-md-6
                = link_to '/blog' + page.materialized_path do
                  = image_tag page.content(:post_logo).file, class: 'post-image'
                  %h2.small-title= page.title
    .col-md-4.right-bar
      = render 'default/shared/banner'



