- SpinaCountPageView.increment(@page, request)

.post-logo-top{style: "background-image: url(#{@page.content(:post_logo).file})"}
/%img{style: 'width: 100%', src: @page.content(:post_logo).file}
.container
  .row
    .col-md-8.left-bar.post
      %h2.post-title= @page.title
      .row
        .col-md-12.text-right
          = @page.created_at
      = @page.content(:text).try(:html_safe)

      %h4.post-list-title.blue-label Veja também

      - pages = Spina::Page.active.where('id != ?', @page.id)
      .row
        - pages.each_with_index do |page, index|
          - if index == 1
            - if page.content(:post_logo)
              .col-md-6
                = link_to '/blog' + page.materialized_path do
                  %img.post-image{src: page.content(:post_logo).file}
                  %h2.small-title= page.title
          - if index == 2
            - if page.content(:post_logo)
              .col-md-6
                = link_to '/blog' + page.materialized_path do
                  %img.post-image{src: page.content(:post_logo).file}
                  %h2.small-title= page.title
    .col-md-4.right-bar
      = render 'default/shared/banner'



