= render 'layouts/upme_nav'

.container
  .row
    .col.s12.m2
    .col.s12.m8
      %br
      %h5.upme-sub-title Meu Perfil
      .paper-box
        .row
          .col.s12.m3
            = render 'profile/update_profile_picture'
          .col.s12.m9
            = form_for current_user, url: save_profile_path, method: :post do |f|
              %h4= current_user.full_name
              %br
              - current_user.user_area_de_interesse.each do |a|
                = a.area_de_interesse.name + ';'
              .row
                .col.s12
                  - if current_user.empresa?
                    %span.upme-bolder Nome da empersa
                    %br
                    = f.text_field :nome_empresa, class: 'validate upme-input-small', placeholder: 'Coloque o nome da sua empresa'
                  %span.upme-bolder Linkedin
                  %br
                  = f.text_field :linkedin, class: 'validate upme-input-small', placeholder: 'Coloque o link do seu Linkedin'
                .col.s12
                  %span.upme-bolder Sobre Você
                  %br
                  = f.text_area :about, class: 'validate upme-input-small materialize-textarea', placeholder: 'Escreva um pouco sobre você'

                .col.s12
                  - if current_user.aluno?
                    %span.upme-bolder Universidade
                    %br
                    = f.text_field :universidade, class: 'validate upme-input-small', placeholder: 'Escreva aqui'
                    %span.upme-bolder Semestre
                    %br
                    = f.text_field :semestre, class: 'validate upme-input-small', placeholder: 'Escreva aqui'
                .col.s12
                  %span.upme-bolder Cidade
                  %br
                  = f.text_field :city, class: 'validate upme-input-small', placeholder: 'Escreva aqui'
                .col.s12.right-align
                  = link_to 'Cancelar', my_profile_path, class: 'waves-effect waves-light btn-upme-outline-grey'
                  %button.waves-effect.waves-light.btn-upme-blue Salvar
    .col.s12.m2