= render 'layouts/upme_nav'

.container
  .row
    .col-12.col-md-2
    .col-12.col-md-8
      %br
      %h5.upme-sub-title Editar perfil
      .card
        .card-body
          .row
            .col-12.col-md-3
              .profile-photo-container
                = render 'profile/update_profile_picture'
            .col-12.col-md-9
              = form_for current_user, url: save_profile_path, method: :post do |f|
                .row
                  .col-12.form-group
                    - if current_user.empresa?
                      %span.label Nome da empersa
                      = f.text_field :nome_empresa, class: 'validate form-control', placeholder: 'Coloque o nome da sua empresa'
                    .form-group
                      %span.label Nome
                      .help-text
                        Por enquanto você não pode editar seu nome :(
                      = text_field_tag :full_name, current_user.full_name, class: 'form-control', disabled: true
                    .form-group
                      %span.label Sobre Você
                      = f.text_area :about, class: 'validate form-control materialize-textarea', placeholder: 'Escreva um pouco sobre você'
                    .form-group
                      %span.label Linkedin
                      = f.text_field :linkedin, class: 'validate form-control', placeholder: 'Coloque o link do seu Linkedin'
                
                  .col-12
                    - if current_user.aluno? or current_user.professor?
                      %span.label Universidade
                      = f.text_field :universidade, class: 'validate form-control', placeholder: 'Escreva aqui'
                    - if current_user.aluno?
                      %span.label Curso(s)
                      = f.text_field :curso, class: 'validate form-control', placeholder: 'Escreva aqui'
                      %span.label Semestre
                      = f.text_field :semestre, class: 'validate form-control', placeholder: 'Escreva aqui'
                  - unless current_user.empresa?
                    .col-12
                      %span.label Cidade
                      = f.text_field :city, class: 'validate form-control', placeholder: 'Escreva aqui'
                  - else
                    .col-12{style: "border: 1px solid yellow; margin-bottom: 10px;"}
                      .col-12
                        %span.label Estas informações não aparecerão no seu perfil público.
                      .col-12{style: "margin: 10px 0px 10px 0px"}
                        %label
                          = f.radio_button :tipo_pessoa, 'fisica', required: true
                          %span.label Pessoa física
                        %label
                          = f.radio_button :tipo_pessoa, 'juridica'
                          %span.label Pessoa Juridica
                      .col-12
                        %span.label CPF/CNPJ
                        = f.text_field :cpf, class: 'validate form-control', placeholder: 'CPF/CNPJ (Somente Números)', required: true
                      .col-12
                        %span.label Telefone para contato
                        = f.text_field :telefone, class: 'validate form-control', placeholder: 'Telefone (Somente Números)', required: true
                      .col.m9.s12
                        %span.label Endereço
                        = f.text_field :endereco, class: 'validate form-control', placeholder: 'Rua, Avenida (Sem número)', required: true
                      .col.m3.s12
                        %span.label Número
                        = f.text_field :numero, class: 'validate form-control', placeholder: 'Número', required: true
                      .col.m5.s12
                        %span.label Bairro
                        = f.text_field :bairro, class: 'validate form-control', placeholder: 'Bairro', required: true
                      .col.m4.s9
                        %span.label Cidade
                        = f.text_field :cidade, class: 'validate form-control', placeholder: 'Cidade', required: true
                      .col.m3.s3
                        %span.label UF
                        = f.text_field :uf, class: 'validate form-control', placeholder: 'Estado', required: true
                      .col-12
                        %span.label CEP
                        = f.text_field :cep, class: 'validate form-control', placeholder: 'CEP (Somente Números)', required: true
    
                  .col-12.right-align
                    = link_to 'Cancelar', my_profile_path, class: 'btn-default'
                    %button.btn-primary Salvar
