= render 'layouts/upme_nav'

.container
  .row
    .col.s12.m2
    .col.s12.m8
      %br
      %h5.upme-sub-title Meu Perfil
      .paper-box
        .row
          .col.s12.m3
            .profile-photo-container
              = render 'profile/update_profile_picture'
              = render 'profile/update_logo'
          .col.s12.m9
            .right-align
              = link_to 'Editar Perfil', edit_profile_path, class: 'waves-effect waves-light btn-upme-blue'
            %h4
              - if current_user.empresa?
                .label-upme Nome da empresa
                = complete_seu_cadastro(current_user.nome_empresa, '')
              - else
                = current_user.full_name
            
            .row
              .col.s12
                - if current_user.empresa?
                  .label-upme Nome
                  %div= current_user.full_name
                 
                .label-upme Sobre você
                %div= complete_seu_cadastro(current_user.about)

                .label-upme Linkedin
                %div= complete_seu_cadastro(current_user.linkedin)
                
              .col.s12.no-padding
                .col.s12.m6
                  - if current_user.aluno? or current_user.professor?
                    .label-upme Universidade
                    %div= complete_seu_cadastro(current_user.universidade)
                  - if current_user.aluno?
                    .label-upme Curso(s)
                    %div= complete_seu_cadastro(current_user.curso)
                    .label-upme Semestre
                    %div= complete_seu_cadastro(current_user.semestre)
                  .label-upme Cidade
                  %div= complete_seu_cadastro(current_user.city)
                .col.s12.m12
                  .label-upme Área(s) de interesse
                  - current_user.user_area_de_interesse.each do |ua|
                    .tag-upme-blue.mb-16= ua.area_de_interesse.name
                  %br
                  = link_to 'Editar área(s)', areas_de_interesse_path, class: 'btn-upme-outline-grey btn-small'
              .col.s12.right-align
                
    .col.s12.m2