- if @user.empresa?
  - @title = @user.nome_empresa

- else
  - @title = @user.full_name
  
= render 'layouts/upme_nav'

.container
  .row
    .col-md-2
    .col-12.col-md-8
      %br
      %h5.upme-sub-title Perfil
      .card
        .card-body
          .row
            .col-12.col-md-3
              .profile-photo-container.center-align
                = image_tag profilepic(@user), class: 'circle', width: '130px', id: 'img-profilepic'
                = image_tag logourl(@user), class: 'circle', width: '130px', class: 'profile-company-logo'
            .col-12.col-md-9.m-margin-top-48
              - if @user.empresa?
                
                .title=@user.nome_empresa
                .label Nome
                %p=@user.full_name
                %br
                
              - else
                .huge-title=@user.full_name
              .row
                .col.s12
                  
                  .label Sobre mim
                  %p= @user.about
                  %br
                  .label Linkedin
                  %p= @user.linkedin
                  %br
                  
                .col.s12.no-padding
                  .col.s12.m12
                    - if @user.aluno?
                      .label Universidade
                      %div= @user.universidade
                      %br
                      .label Semestre
                      %div= @user.semestre
                      %br
                    .label Cidade
                    %div= @user.city
                  -# .col.s12.m12
                  -#   .label Área(s) de interesse
                  -#   - @user.user_area_de_interesse.each do |ua|
                  -#     .tag-upme-blue.mb-16= ua.area_de_interesse.name
    .col-md-2

= render 'layouts/upme_footer'