= render 'layouts/upme_nav'
.container
  .row
    .col.m12
      %h4.upme-sub-title Todos os projetos
  .row
    - Project.without_client.each do |project|
      .col.m3.s12
        = link_to public_project_path(project.id) do
          .paper-box{style: 'height: 280px; margin-bottom: 20px;'}
            .h2.project-title= project.title[0..30] + '...'
            .p.project-description= project.description[0..70] + '...'
            %br
            .p.project-description= project.user.full_name
            .p.project-description= project.created_at.strftime('%d/%m/%y')


