= render 'layouts/upme_nav'
.explore-bg
.container
  = render 'areas_de_interesse/form' if current_user.user_area_de_interesse.size == 0
  .row
    .col.m7
      .upme-screen-title
        %i.upme-screen-logo{data: {feather: 'compass'}}
        - if current_user.empresa?
          %span Explore as ofertas de universitários
        - else
          %span Explore as necessidades das empresas
    .col.m5
      %br
      .label-upme Filtre por área de interesse:
      %form{action: "", method: "GET"}
        %select#e1{name: "areas[]", multiple: :multiple}
          - AreaDeInteresse.all.order(name: :asc).each do |a|
            - if @selected_areas.include? a.name
              %option{:value => a.name, selected: "selected"}= a.name
            - else
              %option{:value => a.name}= a.name
        %button.upme-btn-blue Buscar
  .row
    - projects_found = 0;
    - current_user.available_projects.each do |project|
      - find = false
      - project.project_area_de_interesse.each do |p|
        - find = true if @selected_areas.include? p.area_de_interesse.name
      - if find == true
        - projects_found += 1
        = render partial: 'projects/project_box', locals: { project: project }     
    - if projects_found == 0
      = form_tag create_not_found_notification_path, method: :post do
        - @selected_areas.each do |area|
          = hidden_field_tag 'areas[]', area
        Nenhum projeto encontrado
        = submit_tag "Quero ser avisado quando um projeto desta área for criado."
:javascript
  $(document).ready(function() {
    $("#e1").select2({
       tags: true,
       multiple: true
    });
  });


= render 'layouts/upme_footer'
