<%= render 'layouts/upme_nav' %>
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render partial: '/projects/project_tabs', locals: {project: @project} %>
    </div>

    <div class="col-md-6">
      <div class="card card-full-width">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h3 class="label">Agenda de compromissos</h3>
            </div>
            <div class="col" style="display:flex">
              <%=link_to 'Agendar compromisso',new_project_event_path, class: 'btn-small btn-primary ml-auto'%>
            </div>
          </div>
          <br/>
          <br/>
          <% if @project_events.empty? %>
            <div class="text-center">Nenhum compromisso agendado ainda.</div>
            <br>
          <% else %>
            <div class="row">
              <% @project_events.each do |event| %>
                <div class="col-4">
                  <div class="up-mini-calendar">
                    <div class="up-mini-calendar-header">Novembro</div>
                      <%= convert_timestamp(event.start_date) %>
                  </div>
                </div>
                <div class="col-5">

                  <div class="label"><%= event.title %></div>
                  <div class="text"><%= event.description %></div>
                </div>
                <div class="col-3">
                  <%= link_to 'Editar', edit_project_event_path(@project.id, event.id), class: 'btn-small btn-primary ml-auto' %>
                  <br>
                  <br>
                  <br>
                  <%= link_to 'Excluir', project_event_path(@project.id, event.id), class: 'btn-small btn-primary ml-auto', method: :delete %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <%= render partial: '/projects/project_right_bar', locals: {project: @project} %>
    </div>
  </div>
</div>
<%= render 'layouts/upme_footer' %>
