%h1 Listing project_events

%table
  %thead
    %tr
      %th Project
      %th User
      %th Title
      %th Description
      %th Start date
      %th End date
      %th
      %th
      %th

  %tbody
    - @project_events.each do |project_event|
      %tr
        %td= project_event.project_id
        %td= project_event.user_id
        %td= project_event.title
        %td= project_event.description
        %td= project_event.start_date
        %td= project_event.end_date
        %td= link_to 'Show', project_event
        %td= link_to 'Edit', edit_project_event_path(project_event)
        %td= link_to 'Destroy', project_event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Project event', new_project_event_path
