<div class="upme-nav">
  <div class="container">
    <div class="row">
      <div class="col s4 upme-nav-logo">
        &nbsp;
      </div>
      <div class="col s4 center-align">
        <%= link_to explore_path do %>
          <div class="upme-nav-item nav-bg-compass upme-nav-active hide-on-med-and-down">explorar</div>
        <% end %>
        <%= link_to projects_path do %>
          <div class="upme-nav-item nav-bg-clipboard hide-on-med-and-down">projetos</div>
        <% end %>
      </div>
      <div class="col s4 right-align">
        <%= link_to my_profile_path do %>
          <div class="upme-nav-item nav-bg-user hide-on-med-and-down">perfil</div>
        <%- end %>
        <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-large-only" >
          <i class="material-icons" style="margin: 25px 15px">menu</i>
        </a>
      </div>
    </div>
  </div>
</div>

<ul class="side-nav" id="mobile-demo">
  <li><%= link_to 'Explorar', explore_path %></li>
  <li><%= link_to 'Projetos', projects_path %></li>
  <li><%= link_to 'Perfil', my_profile_path %></li>
  <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
</ul>

<script type="text/javascript" charset="utf-8">
    $(".button-collapse").sideNav()
</script>

<%= render 'layouts/upme_flash' %>