<nav class="navbar navbar-expand-lg navbar-light up-navbar">
  <div class="container">

    <a class="navbar-brand" href="/explorar">
      <%= image_tag 'app/logo-upme-vetor.svg' %>
    </a>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to explore_path, class: controller_name == 'explore' ? 'upme-nav-compass-active btn btn-default' : 'btn btn-default' do %>
              <% if sou_empresa? %>
                <i class="up-brieftcase"></i>
                Ofertas
              <% end %>
              <% if sou_professor? %>
                <i class="up-brieftcase"></i>
                  Demandas
              <% end %>
              <% if sou_aluno? %>
                  <i class="up-brieftcase"></i>
                  Demandas
              <% end %>
          <% end %>
        </li>
        <% if current_user %>
            <li class="nav-item">
              <%= link_to projects_path, class: controller_name == 'projects' ? 'upme-nav-clipboard-active btn btn-default' : 'btn btn-default' do %>
                  <% if sou_empresa? %>
                    <i class="up-project"></i>
                    Minhas demandas
                  <% end %>
                  <% if sou_professor? %>
                    <i class="up-project"></i>
                    Minhas ofertas
                  <% end %>
                  <% if sou_aluno? %>
                    <i class="up-project"></i>
                    Meus projetos
                  <% end %>
              <% end %>
            </li>
        <% end %>
        <li class="nav-item">

          <%= link_to '#', onclick: "show_notifications()",class: 'btn btn-default open-upme-notifications', id: 'notifications-link' do %>
          <i id='btn-bell' class="open-upme-notifications nav-bg-bell up-bell">
          </i>
            <%- if current_user.unread_notifications_size > 0 %>
            <div id='unread-notifications-size'>
              <%= current_user.unread_notifications_size %>
            </div>
          <%- end %>
          
          <% end %>
        </li>
      </ul>
     
      <% if sou_empresa? %>
          <form class="form-inline ml-auto">
            <%= link_to 'Criar demanda', new_project_path, class: 'btn btn-primary' %>
          </form>
      <% end %>
      <% if sou_professor? %>
          <form class="form-inline ml-auto">
            <%= link_to 'Criar projeto', new_project_path, class: 'btn btn-primary' %>
          </form>
      <% end %>
          
    </div>
    <ul class="navbar-nav ml-auto">
      <% if current_user %>
          <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%- if current_user.empresa? %>
              <%= image_tag logourl(current_user),class: 'profile-image profile-image-navbar'%>
            <% else %>
              <%= image_tag profilepic(current_user),class: 'profile-image profile-image-navbar'%>
            <% end %>
          </a>
          
          <li class="nav-item dropdown">
            <div class="dropdown-menu" id="profile-dropdown" aria-labelledby="navbarDropdown">
              <%= link_to my_profile_path, class: 'dropdown-item' do %>
                  Meu perfil
              <%- end %>
              <%= link_to 'Conta', my_account_path, class: 'dropdown-item' %>
              <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
      <% end %>
      
    </ul>
    <a class='btn menu-toggle ex d-block d-sm-none' id='mobile-menu-toggle'>
        <span class='bar upper'></span>
        <span class='bar middle'></span>
        <span class='bar lower'></span>
      </a>
  </div>
</nav>
<!-- <nav class="nav mobile-footer-nav fixed-bottom d-none d-sm-block d-md-block">
    <%= link_to explore_path, class: controller_name == 'explore' ? 'upme-nav-compass-active btn btn-default btn-small' : 'btn btn-default btn-small' do %>
      <% if sou_empresa? %>
        <i class="up-brieftcase"></i>
        Ofertas
      <% end %>
      <% if sou_professor? %>
        <i class="up-brieftcase"></i>
          Demandas
      <% end %>
      <% if sou_aluno? %>
          <i class="up-brieftcase"></i>
          Demandas
      <% end %>
    <% end %>
    <%= link_to projects_path, class: controller_name == 'projects' ? 'upme-nav-clipboard-active btn btn-default btn-small' : 'btn btn-default btn-small' do %>
    <% if sou_empresa? %>
      <i class="up-project"></i>
      Minhas demandas
    <% end %>
    <% if sou_professor? %>
      <i class="up-project"></i>
      Minhas ofertas
    <% end %>
    <% if sou_aluno? %>
      <i class="up-project"></i>
      Meus projetos
    <% end %>
<% end %>

  <%= link_to new_project_path, class: 'btn btn-primary btn-small', style: 'margin-left:.5rem;' do %>
  Criar
  <% end %>
</nav>  -->
<div id="upme-notifications">
  <%- current_user.notifications.reverse.each do |notification| %>
    <%= link_to notification.url + "?read_notification=#{notification.id}", class: "upme-notification-link" do %>
      <div class="upme-notification <%= 'upme-notification-read' if !notification.read %>">
        <span><%= notification.description.capitalize %></span>
        <br>
        <span class="notification-date">
          <%= l notification.created_at %>
        </span>
      </div>
    <% end %>
  <% end %>
  <%- if current_user.notifications.size == 0 %>
    Nenhuma notificação.
  <% end %>
</div>
<script type="text/javascript" charset="utf-8">

  $('#upme-notifications').hide();

  function show_notifications() {
    $('#btn-bell').addClass('nav-bell-active');
    $('#upme-notifications').slideDown('fast');
  }

  function hide_notifications() {
    $('#btn-bell').removeClass('nav-bell-active');
    $('#upme-notifications').slideUp('fast');
  }

  $(document).click(function(event) {
    if(!$(event.target).hasClass('open-upme-notifications') && !$(event.target).hasClass('upme-notification')) {
      hide_notifications();
    }
  });
</script>

<%= render 'layouts/upme_flash' %>


