<div class="upme-nav">
  <div class="container">
    <div class="row">
      <div class="col s6 m4 upme-nav-logo">
        &nbsp;
      </div>
      <div class="col s4 m4 hide-on-small-only center-align">

        <%= link_to explore_path, class: controller_name == 'explore' ? 'upme-nav-compass-active' : '' do %>
          <div class="upme-nav-item nav-bg-compass hide-on-med-and-down">explorar</div>
        <% end %>
        <%- if current_user %>
          <%= link_to projects_path, class: controller_name == 'projects' ? 'upme-nav-clipboard-active' : '' do %>
              <div class="upme-nav-item nav-bg-clipboard hide-on-med-and-down">meus projetos</div>
          <% end %>
        <% end %>
      </div>
      <div class="col s6 m4 right-align">
          <button onclick="show_notifications()">N</button>
          <%- if current_user %>
            <a class='dropdown-button upme-nav-item nav-bg-user hide-on-med-and-down' href='#' data-activates='dropdown1'>
              <%= current_user.first_name.split(' ').first %>
            </a>
            <ul id='dropdown1' class='dropdown-content' style="min-width: 120px;">
              <li>
                <%= link_to my_profile_path do %>
                  Meu perfil
                <%- end %>
              </li>
              <li>
                <%= link_to 'Conta', my_account_path %>
              </li>
              <li>
                <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          <% end %>
        <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-large-only" >
          <i class="material-icons hamburguer-menu" style="margin: 25px 15px">menu</i>
        </a>
      </div>
    </div>
  </div>
</div>

<ul class="side-nav" id="mobile-demo">
  <li><%= link_to 'Explorar', explore_path %></li>
  <li><%= link_to 'Meus Projetos', projects_path %></li>
  <li><%= link_to 'Perfil', my_profile_path %></li>
  <li><%= link_to 'Conta', my_account_path %></li>
  <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
</ul>

<div id="upme-notifications">
  <h4>Notificações</h4>
  <%- current_user.notifications.each do |notification| %>
    <%= link_to notification.url do %>
      <div class="upme-notification">
        <%= notification.description.capitalize %>
      </div>
    <% end %>
  <% end %>
  <button onclick="hide_notifications()">Fechar</button>
</div>

<script type="text/javascript" charset="utf-8">

  $('#upme-notifications').hide();

  function show_notifications() {
    $('#upme-notifications').show();
  }

  function hide_notifications() {
    $('#upme-notifications').hide();
  }

  $(".button-collapse").sideNav()

  $('.dropdown-button').dropdown({
    inDuration: 300,
    outDuration: 225,
    constrainWidth: false, // Does not change width of dropdown to that of the activator
    gutter: 0, // Spacing from edge
    belowOrigin: false, // Displays dropdown below the button
    alignment: 'right', // Displays dropdown with edge aligned to the left of button
    stopPropagation: false // Stops event propagation
  });
       
</script>

<%= render 'layouts/upme_flash' %>