<!DOCTYPE html>
<html>
  <head>
    <title>UpMe!</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="description"               content="Comece profissional. Encontre clientes para seus trabalhos da faculdade e organize suas entregas como um profissional.">
    <meta property="og:locale"             content="pt_BR" />
    <meta property="og:url"                content="https://upmeapp.com.br" />
    <meta property="og:title"              content="<%= page_title %>">
    <meta property="og:site_name"          content="UpMe!">
    <meta property="og:description"        content="Comece profissional. Encontre clientes para seus trabalhos da faculdade e organize suas entregas como um profissional.">
    <meta property="og:image"              content="<%= page_image %>">
    <meta property="og:image:type"         content="image/png">
    <meta property="og:type"               content="website">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <meta id="viewport" name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">


  </head>

  <body data-current-screen="<%= controller_name + '_' + action_name %>">
    <%= yield %>
  </body>
</html>
