<!DOCTYPE html>
<html lang="pt-BR">
<html>
  <head>
    <title>UpMe! - Comece Profissional</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="description"               content="Comece profissional. Encontre clientes para seus trabalhos da faculdade e organize suas entregas como um profissional.">
    <meta property="og:locale"             content="pt_BR" />
    <meta property="og:url"                content="https://upmeapp.com.br" />
    <meta property="og:title"              content="<%= page_title %>">
    <meta property="og:site_name"          content="UpMe!">
    <meta property="og:description"        content="Comece profissional. Encontre clientes para seus trabalhos da faculdade e organize suas entregas como um profissional.">
    <meta property="og:image"              content="<%= page_image %>">
    <meta property="og:image:type"         content="image/png">
    <meta property="og:type"               content="website">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,900i" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <% if Rails.env.production? %>
      <script type="text/javascript">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-105211137-1', 'auto');
      </script>
    <% end %>

  </head>

  <body data-current-screen="<%= controller_name + '_' + action_name %>">
    <%= render partial: "layouts/flash_messages", flash: flash %>
    <%= yield %>
  </body>
</html>
